



  <div>

    <mat-form-field appearance="fill">
      <mat-label>Select Division:</mat-label>
      <mat-select (selectionChange)="onSelect($event)">
        <mat-option *ngFor="let dept of deptList" [value]="dept.id">
          {{dept.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <button style="float: right;" mat-raised-button color="primary" (click)="submitAllocation()">Submit Allocation</button> 

  <div>
   
    <table mat-table [dataSource]="departmentAllocationData" class="mat-elevation-z8">

    
      <ng-container matColumnDef="floorName">
        <th mat-header-cell *matHeaderCellDef> Floor Name </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.floorName}} </td>
        <td>
      </td>
      </ng-container>

      <ng-container matColumnDef="floorId">
        <th mat-header-cell *matHeaderCellDef> Floor Id</th>
        <td mat-cell *matCellDef="let element"> 
          {{element.floorId}} </td>
        <td>
      </td>
      </ng-container>

      <ng-container matColumnDef="wingName">
        <th mat-header-cell *matHeaderCellDef> Wing Name</th>
        <td mat-cell *matCellDef="let element"> 
          {{element.wingName}} </td>
        <td>
      </td>
      </ng-container>

      <ng-container matColumnDef="wingId">
        <th mat-header-cell *matHeaderCellDef> Wing Id </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.wingId}} </td>
        <td>
      </td>
      </ng-container>


      <ng-container matColumnDef="seatStartNo">
        <th mat-header-cell *matHeaderCellDef> Seat Start # </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.seatStartNo}} </td>
        <td>
      </td>
      </ng-container>

      <ng-container matColumnDef="seatEndNo">
        <th mat-header-cell *matHeaderCellDef> Seat End # </th>
        <td mat-cell *matCellDef="let element"> 
          <div>
            <input type="number" [(ngModel)]="element.seatEndNo" class="form-control" min="1" max="element.seatEndNo"/>
        </div>
          </td>
        <td>
      </td>
      </ng-container>
    
      <ng-container matColumnDef="seats"  >
        <th mat-header-cell *matHeaderCellDef> Seats </th>
        <td mat-cell *matCellDef="let element" >
          <div *ngIf="element.isEdit">
              <input type="text" [(ngModel)]="element.seats" class="form-control"/>
          </div>
          <div *ngIf="!element.isEdit">
              {{element.seats}}
          </div> </td>
      </ng-container>
    
      
      
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    
  
  
  
  
  </div>



  
  
  