<div style="padding: 2rem;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    
    <ng-container matColumnDef="division">
      <th mat-header-cell *matHeaderCellDef> Division </th>
      <td mat-cell *matCellDef="let element"> 
        {{element.division}} </td>
      <td>
        
    </td>
    </ng-container>
  
    <ng-container matColumnDef="seats"  >
      <th mat-header-cell *matHeaderCellDef> Seats </th>
      <td mat-cell *matCellDef="let element" >
        <div *ngIf="element.isEdit">
            <input style="border: none;" type="number" [(ngModel)]="element.seats" class="form-control"/>
        </div>
        <div *ngIf="!element.isEdit">
            {{element.seats}}
        </div> </td>
    </ng-container>
  
    
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button style="float: right; margin-top: 2rem;" mat-raised-button color="primary">Submit</button>


  
  
  
</div>